<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14528352544-urh4cej53mqrp6a6n60paqjnf26g4aq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14528352544-urh4cej53mqrp6a6n60paqjnf26g4aq8</string>
	<key>API_KEY</key>
	<string>AIzaSyDSQYnXBrUbuCXVl6QCCCqqeuo0OqW22KA</string>
	<key>GCM_SENDER_ID</key>
	<string>14528352544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fantasapp.smart_uvc_app</string>
	<key>PROJECT_ID</key>
	<string>smart_uvc_app-e4d02</string>
	<key>STORAGE_BUCKET</key>
	<string>smart_uvc_app-e4d02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:14528352544:ios:c2b80011f7695073a80745</string>
</dict>
</plist>
